<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}" />
</head>

<body>
    <h3>Student Registration Form</h3>

    <form th:action="@{processStudentForm}" th:object="${student}" method="POST">

        First Name: <input type="text" th:field="${student.firstName}" />

        <br><br>

        Last Name: <input type="text" th:field="${student.lastName}" />

        <br><br>

        Country:
        <select th:field="${student.country}">

            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}" />

        </select>

        Favorite Programming languages:
        <input type="radio" th:field="${student.favoriteLanguage}"
                            th:each="tempLang : ${languages}"
                            th:value="${tempLang}"
                            th:text="${tempLang}"
        />

        <input type="submit" value="Submit">
    </form>
</body>

</html>