<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}" />
</head>

<body>
    <h3>Student Registration Form</h3>

    <form th:action="@{processStudentForm}" th:object="${student}" method="POST">

        First Name: <input type="text" th:field="${student.firstName}" />

        <br><br>

        Last Name: <input type="text" th:field="${student.lastName}"/>

        <br><br>

        Country:
        <select th:field="${student.country}">

            <option th:value="Brazil">Brazil</option>
            <option th:value="France">France</option>
            <option th:value="Germany">Germany</option>
            <option th:value="India">India</option>

        </select>

        <input type="submit" value="Submit">
    </form>
</body>

</html>